// TODO оптимизировать шрифты (.woff2 вместо .ttf)

@mixin font-face($family, $path, $weight: 400, $style: normal, $display: swap) {
    @font-face {
        font-family: $family;
        src: url('#{$path}.ttf') format('truetype');
        font-weight: $weight;
        font-style: $style;
        font-display: $display;
    }
}
