@use "@scss/variables/colors";

.tiptap {
    outline: none;

    ul {
        margin: 0;
        padding-left: 30px;

        &[data-type="taskList"] li[data-checked="true"] p {
            text-decoration: line-through;
            opacity: 0.6;
        }
    }

    hr {
        border: none;
        border-top: 1px solid colors.$border-default;
        margin: 5px 0;
    }

    p {
        margin: 0;
        width: 100%;
    }

    .task-item {
        display: flex;
        gap: 5px;
    }

    .task-item-list {
        padding-left: 0;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 16px;
    }

    h4 {
        font-size: 14px;
    }

    h5 {
        font-size: 12px;
    }

    h6 {
        font-size: 10px;
    }

    input[type="checkbox"] {
        margin-left: 8px;
    }
}
