@use "normalize.css";

@use "@scss/variables/colors";
@use "@scss/fonts/montserrat";

body {
    background-color: colors.$bg-base;
}

span, p, h1, h2, h3, h4, h5, h6, input, select, textarea {
    color: colors.$text-primary;
}

a, span, p, h1, h2, h3, h4, h5, h6, input, select, textarea {
    font-family: "Montserrat", sans-serif;
}

button {
    cursor: pointer;
    padding: 0;
}

* {
    scrollbar-width: thin;
    scrollbar-color: colors.$scroll-thumb colors.$scroll-track;
}

*::-webkit-scrollbar-track {
    background: colors.$scroll-track;
}

*::-webkit-scrollbar-thumb {
    background-color: colors.$scroll-thumb;
    border-radius: 3px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: colors.$scroll-thumb-active;
}
