@use "normalize.css";

@use "@scss/variables/colors";
@use "@scss/fonts/montserrat";

body {
    background-color: colors.$bg-base;
}

a, span, p, h1, h2, h3, h4, h5, h6, input, select, textarea, label, li {
    color: colors.$text-primary;
}

a, span, p, h1, h2, h3, h4, h5, h6, input, select, textarea, label, li {
    font-family: "Montserrat", sans-serif;
}

a, span, p {
    font-size: 14px;
}



a:hover {
    color: colors.$text-focus;
}

.link {
    &--no-decor {
        text-decoration: none;
    }
}

button {
    cursor: pointer;
    padding: 0;
}

input {
    background-color: transparent;
    border: 1px solid colors.$border-default;
    border-radius: 5px;
    outline: none;
}

#nprogress .bar {
  background: colors.$accent-primary !important;
}

* {
    scrollbar-width: thin;
    scrollbar-color: colors.$scroll-thumb colors.$scroll-track;
}

*::-webkit-scrollbar-track {
    background: colors.$scroll-track;
}

*::-webkit-scrollbar-thumb {
    background-color: colors.$scroll-thumb;
    border-radius: 3px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: colors.$scroll-thumb-active;
}
