@use "normalize.css";

@use "@scss/variables/colors";
@use "@scss/fonts/montserrat";

body {
    background-color: colors.$bg-base;
}

a, span, p, h1, h2, h3, h4, h5, h6, input, select, textarea, label, li {
    color: colors.$text-primary;
}

a, span, p, h1, h2, h3, h4, h5, h6, input, select, textarea, label, li {
    font-family: "Montserrat", sans-serif;
}

a, span, p {
    font-size: 14px;
}

a:hover {
    color: colors.$text-focus;
}

.link {
    &--no-decor {
        text-decoration: none;
    }
}

button {
    cursor: pointer;
    padding: 0;
}

input {
    background-color: transparent;
    border: 1px solid colors.$border-default;
    border-radius: 5px;
    outline: none;

  &[type="checkbox"] {
    height: 16px;
    width: 16px;

    appearance: none;

    background-color: transparent;
    border: 1px solid colors.$border-default;
    border-radius: 3px;
    margin: 0;
    cursor: pointer;
    position: relative;
    transition: all 0.1s ease;

    &:checked {
      background-color: transparent;
      border-color: colors.$border-default;

      &::after {
        content: '';
        position: absolute;
        left: 4px;
        top: 0;
        width: 5px;
        height: 9px;
        border: solid colors.$text-focus;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }

    &:hover {
      border-color: colors.$border-focus;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}

#nprogress .bar {
  background: colors.$accent-primary !important;
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-width: thin;
    scrollbar-color: colors.$scroll-thumb colors.$scroll-track;
  }
}

@supports selector(::-webkit-scrollbar) {
  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: colors.$scroll-thumb;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: padding-box;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: colors.$scroll-thumb-active;
  }
}
