@use "@scss/mixins/font";

$font-path: "/fonts/Montserrat";

$weights: (
    100: "Thin",
    200: "ExtraLight",
    300: "Light",
    400: "Regular",
    500: "Medium",
    600: "SemiBold",
    700: "Bold",
    800: "ExtraBold",
    900: "Black"
);

@each $weight, $name in $weights {
    @include font.font-face("Montserrat", "#{$font-path}/Montserrat-#{$name}", $weight);

    @include font.font-face("Montserrat", "#{$font-path}/Montserrat-#{$name}Italic", $weight, italic);
}
